.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.logo {
  width: 100px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 10;
  margin-right: 1rem;
  margin-top: 2.5rem;
}

.body {
  margin-top: 0.5rem;
}

.search {
  margin-bottom: 0.5rem;
}

.res-card {
  padding: 5px;
  width: 200px;
}

.res-logo {
  width: 100%;
}

.res-card:hover {
  border: 2px solid black;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  cursor: pointer;
  margin: 10px;
}
